 <label for="sidebar_toggle">
   <img src="images/hamburger.png" alt="Toggle Sidebar" />
 </label>
 <dl>
   <dt><time>{{current_section.title}}</time></dt><!--
--><dd>{{current_section.data}}</dd>
 </dl>